{% extends 'base.html' %}

{% block title %} Question {{question_number}} {% endblock %}

{% block content %}

    <h1>{{current_survey.title}}</h1>
    <h2>Question {{question_number}}</h2>
    <p>{{current_question.question}}</p>

    <form action="/answer?{{ question_number }}?survey={{ survey_name }}" method="post" class="choices-form">
        <input type="hidden" name="question_number" value="{{ question_number }}">
        <input type="hidden" name="survey" value="{{ survey_name }}">

        
        {% for choice in current_question.choices %}
            <div class="choices-radio">
            <label for="choice{{ loop.index }}">{{ choice }}</label>
            <input type="radio" name="choice" id="choice{{ loop.index }}" value="{{ choice }}">
            </div>

        {% endfor %}

        {% if next_question < 0 %}
            <button>Complete Survey</button>
    
        {% else %}    
            <button>Continue to question {{next_question}}</button>
        {% endif %}


    </form>

{% endblock %}